#myResult {
    font-size: 25px;
    font-weight: bold;
    font: white ;
}

table, th, td {
    border: 5px solid white;
    border-collapse: collapse;
    background-color: darkcyan;
    padding: 10px;
    
}